<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.isnotok.sleep.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.isnotok.sleep.Perspective"
            fixed="false"
            id="com.isnotok.sleep.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.isnotok.sleep.application"
            name="Sleepy">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif,icons/alt_window_48.gif,icons/alt_window_64.gif,icons/alt_window_128.gif">
         </property>
         <property
               name="appName"
               value="Sleepy">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.isnotok.sleep.view.NavigatorView"
            id="com.isnotok.sleep.view.NavigatorView"
            name="Navigator View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.isnotok.sleep.view.ResourceView"
            id="com.isnotok.sleep.view.ResourceView"
            name="Resource Viewer"
            restorable="true">
      </view>
      <view
            class="com.isnotok.sleep.view.PakView"
            id="com.isnotok.sleep.view.PakView"
            name="Pak View"
            restorable="true">
      </view>
      <view
            class="com.isnotok.sleep.view.RoomView"
            id="com.isnotok.sleep.view.RoomView"
            name="Room View"
            restorable="true">
      </view>
      <view
            class="com.isnotok.sleep.view.MagnifyView"
            id="com.isnotok.sleep.view.MagnifyView"
            name="Magnify View"
            restorable="true">
      </view>
      <view
            class="com.isnotok.sleep.view.FileView"
            id="com.isnotok.sleep.view.FileView"
            name="File View"
            restorable="true">
      </view>
      <view
            class="com.isnotok.sleep.view.CacheView"
            id="com.isnotok.sleep.view.CacheView"
            name="Cache View"
            restorable="true">
      </view>
      <view
            class="com.isnotok.sleep.view.InventoryView"
            id="com.isnotok.sleep.view.InventoryView"
            name="Inventory View"
            restorable="true">
      </view>
      <view
            class="com.isnotok.sleep.view.PackagingView"
            id="com.isnotok.sleep.view.PackagingView"
            name="Packaging View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.isnotok.sleep.provider.NavigatorContentProvider"
            id="com.isnotok.sleep.VirtualContent"
            labelProvider="com.isnotok.sleep.provider.NavigatorLabelProvider"
            name="Navigator Content">
         <triggerPoints>
            <or>
               <instanceof
                     value="com.isnotok.sleep.model.ModelObject">
               </instanceof>
               <instanceof
                     value="java.io.File">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="java.io.File">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="com.isnotok.sleep.sorter.DirectorySorter">
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="com.isnotok.sleep.filter.NonResourceFilter"
            description="Filters NonResource Files"
            id="com.isnotok.sleep.filter.NonResourceFilter"
            name="Non-Resource Filter">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="com.isnotok.sleep.filter.HiddenFilter"
            description="Filters Hidden Files"
            id="com.isnotok.sleep.filter.HiddenFilter"
            name="Hidden Filter">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.isnotok.sleep.view.NavigatorView">
      </viewer>
      <viewerContentBinding
            viewerId="com.isnotok.sleep.view.NavigatorView">
         <includes>
            <contentExtension
                  pattern="com.isnotok.sleep.VirtualContent">
            </contentExtension>
            <contentExtension
                  pattern="com.isnotok.sleep.filter.NonResourceFilter">
            </contentExtension>
            <contentExtension
                  pattern="com.isnotok.sleep.filter.HiddenFilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.isnotok.sleep.handler.OpenPakHandler"
            commandId="com.isnotok.sleep.handler.OpenPakHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.isnotok.sleep.handler.OpenPakHandler"
            id="com.isnotok.sleep.command.OpenPak"
            name="Open Pak">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.DeleteFile"
            id="com.isnotok.sleep.command.DeleteFile"
            name="Delete File">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.AddItemsHandler"
            description="Add items to inventory"
            id="com.isnotok.sleep.command.AddItems"
            name="Add Items">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.SavePakHandler"
            id="com.isnotok.sleep.command.SavePak"
            name="Save Pak">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.OpenCache"
            id="com.isnotok.sleep.command.OpenCache"
            name="Open Cache">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.RefreshNavigator"
            id="com.isnotok.sleep.command.RefreshNavigator"
            name="Refresh">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.Zoomin"
            id="com.isnotok.sleep.command.Zoomin"
            name="Zoom in">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.Zoomout"
            id="com.isnotok.sleep.command.Zoomout"
            name="Zoom out">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.Exit"
            id="com.isnotok.sleep.command.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.OpenFile"
            id="com.isnotok.sleep.command.OpenFile"
            name="Open File">
      </command>
      <command
            defaultHandler="com.isnotok.sleep.handler.Rename"
            id="com.isnotok.sleep.command.Rename"
            name="Rename File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="com.isnotok.sleep.command.OpenFile"
                  label="Open File..."
                  style="push"
                  tooltip="Open File">
            </command>
            <separator
                  name="com.isnotok.sleep.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.isnotok.sleep.command.Exit"
                  label="Exit"
                  style="push"
                  tooltip="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.isnotok.sleep.view.NavigatorView">
         <command
               commandId="com.isnotok.sleep.command.OpenPak"
               icon="IMG_OBJ_FILE"
               label="Open Pak File"
               style="push"
               tooltip="Open Pak File">
         </command>
         <command
               commandId="com.isnotok.sleep.command.OpenCache"
               icon="IMG_OBJ_FOLDER"
               label="Open Cache Folder"
               style="push"
               tooltip="Open Cache Folder">
         </command>
         <separator
               name="com.isnotok.sleep.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.isnotok.sleep.command.DeleteFile"
               icon="IMG_TOOL_DELETE"
               label="Delete File"
               style="push"
               tooltip="Open Cache">
         </command>
         <separator
               name="com.isnotok.sleep.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.isnotok.sleep.command.RefreshNavigator"
               icon="IMG_OBJ_FILE"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <command
               commandId="com.isnotok.sleep.command.Rename"
               label="Rename File"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.isnotok.sleep.editor.PakEditor">
         <command
               commandId="com.isnotok.sleep.command.AddItems"
               icon="IMG_OBJ_ADD"
               label="Add Items"
               style="push"
               tooltip="Add items to inventory">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.isnotok.sleep.view.PackagingView">
         <command
               commandId="com.isnotok.sleep.command.SavePak"
               icon="IMG_ETOOL_SAVEALL_EDIT"
               label="Save Pak"
               style="push"
               tooltip="Save Pak">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.isnotok.sleep.view.MagnifyView">
         <command
               commandId="com.isnotok.sleep.command.Zoomout"
               icon="IMG_TOOL_BACK"
               label="Zoom out"
               style="push"
               tooltip="Zoom out">
         </command>
         <command
               commandId="com.isnotok.sleep.command.Zoomin"
               icon="IMG_TOOL_FORWARD"
               label="Zoom in"
               style="push"
               tooltip="Zoom in">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.isnotok.sleep.editor.PakEditor"
            default="false"
            id="com.isnotok.sleep.editor.PakEditor"
            name="Pak Editor">
      </editor>
      <editor
            class="com.isnotok.sleep.editor.CacheEditor"
            default="false"
            id="com.isnotok.sleep.editor.CacheEditor"
            name="Cache Editor">
      </editor>
      <editor
            class="com.isnotok.sleep.editor.CachePakEditor"
            default="false"
            id="com.isnotok.sleep.editor.CachePakEditor"
            name="Cache Pak Editor">
      </editor>
   </extension>

</plugin>
