<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.isnotok.sleep.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.isnotok.sleep.Perspective"
            id="com.isnotok.sleep.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.isnotok.sleep.application"
            name="SiD">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.isnotok.sleep.view.NavigatorView"
            id="com.isnotok.sleep.view.NavigatorView"
            name="Navigator View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.isnotok.sleep.provider.NavigatorContentProvider"
            id="com.isnotok.sleep.VirtualContent"
            labelProvider="com.isnotok.sleep.provider.NavigatorLabelProvider"
            name="Navigator Content">
         <triggerPoints>
            <instanceof
                  value="com.isnotok.sleep.model.FileModel">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.isnotok.sleep.view.NavigatorView">
      </viewer>
      <viewerContentBinding
            viewerId="com.isnotok.sleep.view.NavigatorView">
         <includes>
            <contentExtension
                  pattern="com.isnotok.sleep.VirtualContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
